

.footer__copyright {
    /**margin: 0;**/
    max-width: 230px;
    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 0.875rem;
    line-height: 1.43;
    text-align: right;
    
    color: #FFFFFF;
}
@media all and (max-width: 767px) {  
    .footer__copyright {
        max-width: 195px;
        margin-top: 48px;
    }
}
@media all and (max-width: 374px) {
    .footer__copyright {
        min-width: 195px;
    }
}
