.lead__subtitle {
    width: 100%;
    margin: 48px auto 0px;
    
    font-style: normal;
    font-weight: normal;
    font-size: 1.875rem;
    line-height: 1.2;
    text-align: center;
    color: #FFFFFF;    
}

@media all and (max-width: 767px) {
    .lead__subtitle {
        margin-top: 8px;
        font-size: 1rem;
        line-height: 1.4375;
    }
}